.separator {
	width: 66%;
	margin: 0 auto;
}

.webp .parallax {
  background: url(../images/parallax.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-webp .parallax {
  background: url(../images/parallax.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#profile {
  margin: auto;
  background-color: #eee;
}

#profile header {
  margin-bottom: 5em;
}

#profile main {
  max-width: 640px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
  .parallax {
    display: none;
  }

  header {
    margin-bottom: 5em;
  }
}

@media (min-width: 768px) {
  .parallax {
    min-height: 400px;
    background-position: center -100px;
  }
}

@media (min-width: 992px) {
  .parallax {
    min-height: 450px;
    background-position: center -100px;
  }
}

@media (min-width: 1200px) {
  .parallax {
    height: 500px;
    background-position: center -100px;
  }
}

@media (min-width: 1400px) {
  .parallax {
    height: 700px;
    background-position: center -150px;
  }
}
